body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .header {
    background-color: white;
    color: black;
    padding: 1px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

 .line {
    border-bottom: 2px solid black;
    margin-top: 5px;
    position: fixed;
    width: 90%;
    left: 5%;
    top: 78px; 
    z-index: 900;
}

  footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: white;
    color: black;
    position: fixed;
    bottom: 0;

  }

  .line1 {
    border-bottom: 2px solid black;
    margin-top: 5px;
    position: fixed;
    width: 90%;
    bottom: 60px; 
    left: 5%; 
    z-index: 900;
}
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  p {
    margin-top: 20px;
    font-size: 18px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  } 
  
